body {
  background: #333;
}

.header {
  padding-bottom: 5px;
  color: #ffffff;
  font-family: sans-serif;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 30px);
  padding: 0px;
  gap: 0px;
  border: 1px solid #ccc;
  background: #222;
}

.cell,
.cell-center {
  height: 30px;
}

.cell-center {
  background-color: brown;
}

.enemy,
.player {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.enemy {
  background: #f31414;
}

.player {
  background: #14c6f3;
}
