body {
  background: #333;
}

p,
.header {
  padding-bottom: 5px;
  color: #ffffff;
  font-family: sans-serif;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 30px);
  padding: 0px;
  gap: 0px;
  border: 1px solid #ccc;
  background: #222;
}

.cell,
.cell-center {
  height: 30px;
}

.cell-center {
  background-color: brown;
}

.enemy img {
  width: 100%;
  height: 100%;
}

.player img {
  width: 100%;
  height: 100%;
}

#myProgress {
  width: 90px;
  background-color: grey;
  margin-bottom: 0.5em;
}

#myBar {
  width: 50%;
  height: 30px;
  background-color: green;
}
